/* CreateSB.css */

.container {
  max-width: 48rem; /* 768px */
  margin: 0 auto;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border: 2px solid #60a5fa; /* 파란색 테두리 추가 */
  border-radius: 0.5rem;
  padding: 2rem;
}

.card-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4b5563;
}

.input-group {
  margin-top: 1.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.input-field {
  width: 96%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #60a5fa;
  box-shadow: 0 0 0 0.125rem rgba(96, 165, 250, 0.25);
}

.file-upload-container {
  border: 2px dashed #d1d5db;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: border 0.3s ease;
}

.file-upload-container:hover {
  border-color: #60a5fa;
}

.file-upload-input {
  display: none;
}

.upload-info {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.upload-info-text {
  flex-grow: 1;
  margin-left: 1rem;
}

.upload-info-size {
  color: #6b7280;
  font-size: 0.875rem;
  margin-left: 1rem;
  text-align: right;
}

/* CBT 설정하기 버튼 스타일 */
.btn-cbt {
  display: block;
  width: 100%;
  background-color: #60a5fa;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem 0;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.btn-cbt:hover {
  background-color: #3b82f6;
}