/* App.css */

.navigation {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.home-link {
  text-decoration: none;
}

.home-icon {
  width: 5px;
  height: 5px;
  object-fit: contain;
  border: 2px solid #60a5fa;
  border-radius: 20%;
  padding: 0.25rem;
  background-color: #f3f4f6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.home-icon:hover {
  transform: scale(1.1);
}
