.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exclamation-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.exclamation-mark {
    font-size: 2em;
    color: #fff;
}

.bottom-buttons {
    margin-top: 20px;
}

.create-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #218838; /* 호버 시 더 어두운 초록색으로 변경 */
}