.resultsb-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 2rem;
}

.resultsb-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #374151;
  margin-bottom: 2rem;
}

.resultsb-results {
  border: 2px solid #60a5fa;
  border-radius: 0.5rem;
  width: 35rem; /* 박스 크기를 키움 */
  padding: 2rem; /* 내부 패딩 키움 */
  background-color: #f3f4f6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.resultsb-results h2 {
  font-size: 1.25rem;
  color: #374151;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultsb-results h3 {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 0.75rem;
}

.resultsb-results ul {
  list-style: none;
  padding: 0;
}

.resultsb-results li {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.resultsb-error {
  color: red;
  text-align: center;
}

.domain-address {
  cursor: pointer;
  color: #2563eb; /* 도메인 주소 색상 */
  text-decoration: underline;
}

.clipboard-icon {
  width: 1.5rem; /* 아이콘 크기 조정 */
  height: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.copy-notification {
  color: #10b981; /* 복사됨 알림 색상 */
  font-size: 0.875rem;
  margin-left: 0.5rem;
}
